footer{
    margin-top: 200px;
    background-color: #FAFAFA;
    .footer__line{
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    &__social > a{
        text-decoration: none;
        margin-right: 10px;
    }

}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 30%;
    margin-bottom: 50px;
    &ul{
        padding: 0;
    }
    &>ul>h4{
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 1.5px;
        color: #837D88;
    }
    &>ul > li{
        list-style: none;
        margin-top: 10px;
        
    }
}
.menu__link{
    text-decoration: none;
    transition: all .4s;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: #2D2641;
    &:hover{
        text-decoration: underline;
    }
}
.footer__top__social > a > svg:hover > path{
    fill: black;
}
